streamlit-autorefresh
matplotlib
yfinance
pandas
requests
huggingface-hub
python-dotenv
requests
huggingface_hub
transformers
torch
scikit-learn
tensorflow-cpu
tensorflow-cpu==2.13.0  # ✅ Add this for Keras/TensorFlow support

